{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br>
    <h1>Create a new reply</h1>
    {{ include('replies/_form.html.twig') }}
    <br>
    <a href="{{ path('profile_show',{'id': app.user.id}) }}">back to list</a>
{% endblock %}