<h1>Hi!</h1>

<p>To authenticate your account, please visit the following link</p>

<a href="{{ url('security_app_activate', {token: activationToken}) }}">{{ url('security_app_activate', {token: activationToken}) }}</a>


<p>Cheers!</p>